@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>    
        You can add,update and delete fixtures.
        <br />

        List    <a asp-controller="Fixtures" asp-action="Index">Fixtures</a>

    </p>
</div>
